<header>
    <div id="menuBtn" class="btn">
        <div class="menuBtnInner">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
    </div>
    <nav class="container-fluid">
        <div class="nav-container container">
            <div class="menu_title">ABOUT 台灣・金門</div>
            <div class="menu_item">
                <a href="/"><i class="fas fa-chevron-right"></i> HOME</a>
            </div>
            <div class="menu_item">
                <a href="/aboutme"><i class="fas fa-chevron-right"></i> ABOUT ME</a>
            </div>
            <hr>
            <div class="menu_intro">
                <div class="menu_title">發現金門</div>
                <div class="row">
                    <div class="col-sm pb-2">
                        <a href="/attractions/5">
                            <img src="/images/attractions/Mofan_Street.jpg" class="w-100">
                            <span>模範街</span>
                        </a>
                    </div>
                    <div class="col-sm pb-2">
                        <a href="/attractions/1">
                            <img src="/images/attractions/Deyue_Tower.jpg"  class="w-100">
                            <span>得月樓</span>
                        </a>
                    </div>
                    <div class="col-sm pb-2">
                        <a href="/attractions/8">
                            <img src="/images/attractions/Zhaishan_Tunnel.jpg"  class="w-100">
                            <span>翟山坑道</span>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="menu_item">
                <a href="/attractions"><i class="fas fa-chevron-right"></i> ATTRACTIONS</a>
            </div>
            <div class="menu_item">
                <a href="/foods"><i class="fas fa-chevron-right"></i> FOODS</a>
            </div>
            <div class="menu_item">
                <i class="fas fa-chevron-right"></i> TRAFFIC<br>
                <ul>
                    <li><a href="/bus"><i class="fa-fw fas fa-bus"></i> BUS</a></li>
                    <li><a href="/airport"><i class="fa-fw fas fa-plane"></i> PLANE</a></li>
                </ul>
            </div>
        </div>
        
    </nav>
</header>