<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>金門航空站</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/plane.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">KINMEN AIRPORT</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" data-target="#"><i class="fas fa-map-signs"></i> TRAVEL MAP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#flight-info">Flight Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#airport-info">Airport Info</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">KINMEN</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">About</a>
      </div>
    </div>	
  </header>

  <!-- About Section -->
  <section id="about" class="projects-section bg-dark">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="/images/airport/kinmenairport.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4 class="text-white">ABOUT KINMEN AIRPORT</h4>
            <p class="text-white-50 mb-0">金門航空站共有金門－臺北、金門－臺中、金門－高雄、金門－嘉義及金門－臺南、金門－馬公等6條航線，每年平均服務往返 臺金旅客約170餘萬人次，對金門地區觀光事業發展及交通運輸貢獻良多，並深受金門鄉親及臺金旅客好評。　</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6" id="airport-vedio1">
        </div>
        <div class="col-lg-6">
          <div class="bg-white text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-black">金門航空站簡介</h4>
                <p class="mb-0 text-black-50">金門地區於民國38年國軍駐防後，曾於西洪五里埔興建機場(即西村旁邊)，民國40年6月國防部核准復興航空公司每週1班班機飛航金門，至民國47年8月23日因砲戰緣故而停航。隨後機場因軍事考量而遷至尚義，民國76年因往返 臺金旅客日增，行政院核定借用尚義機場軍方停機坪及候機室，並於當年9月由遠東航空公司首航金門－臺北航線，為 臺金民航空運開啟新的紀元。</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6" id="airport-vedio2">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-white text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-black">金門航空站啟用典禮</h4>
                <p class="mb-0 text-black-50">隨著近來年小三通旅客日增，民航局乃斥資3億元新建東側航廈大樓，並於民國99年2月落成啟用，大大提升航廈容量及服務品質。此外，因97年、98年及99年之年旅運量連續3年超越150萬人次，經民航局報請行政院核定通過後，於100年1月1日正式升格為乙等航空站。</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Projects Section -->
  <section id="flight-info" class="projects-section bg-light p-1">
    <div class="container mt-5"> 
		<h2 class="pb-5">飛機即時動態</h2>
		<div class="row">
			<div class="col-lg-4">
				<div class="row">			
					<div class="col-6">   
						<button class="btn btn-success w-100" id="arrival">客機抵達</button>
					</div>
					<div class="col-6">  
						<button class="btn btn-info w-100" id="departure">客機起飛</button>
					</div>
				</div>			
			</div>
			<div class="col-lg-3 p-lg-2 pt-3 pb-2 text-md-center ">                 
				<div class="row">			
					<div class="col-lg-4 col-md-2 pr-md-0 p-md-2">   
						<label>航空公司</label>
					</div>
					<div class="col-lg-8 col-md-10 pl-md-0">  
						<select name="aircom" id="aircom" class="form-control ml-md-2">
							<option value="none">不拘</option>
							<option value="B7">立榮UIA</option>
							<option value="AE">華信MDA</option>
							<option value="FE">遠東FEA</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-3 p-lg-2 pt-2 pb-4 text-md-center ">
				<div class="row">
					<div class="col-lg-4 col-md-2 pr-md-0 p-md-2">   
						<label id="airport_text">起飛地</label>
					</div>
					<div class="col-lg-8 col-md-10 pl-md-0"> 
						<select name="airport" id="airport" class="form-control ml-md-2">
							<option selected="selected" value="none">不拘</option>
							<option value="TSA">臺北Taipei</option>
							<option value="RMQ">臺中Taichung</option>
							<option value="CYI">嘉義Chiayi</option>
							<option value="TNN">臺南Tainan</option>
							<option value="KHH">高雄Kaohsiung</option>
							<option value="MZG">澎湖Penghu</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-2">
				<button class="btn btn-primary w-100" id="search">查詢</button>
			</div>
		</div>
		<div class="row mt-5" id="result">

		</div>
	</div>
  </section>

  <!-- Signup Section -->
  <section id="airport-info" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">KINMEN AIRPORT INFO</h2>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">89146 金門縣金湖鎮尚義機場二號</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">kinmenairport@yourdomain.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">082-322381‧313694</div>
            </div>
          </div>
        </div>
      </div>
	  
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; HSUN 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Youtube iframe api -->
  <script src="https://www.youtube.com/iframe_api"></script>
  
  <!-- Custom scripts for this template -->
  <script src="/javascripts/grayscale.min.js"></script>
  <script src="/javascripts/airport.js"></script>


</body>

</html>
